.about {
    position: relative;
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 6rem;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.img-about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-about img {
    width: 80%;
}

.about-us {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.about-us h1 {
    font-size: 2rem;
    background-color: beige;
    padding-left: 6px;
}

.about-us p {
    width: 80%;
    background-color: azure;
    text-align: justify;
}

@media only screen and (max-width: 992px) {
    .img-about {
        width: 70%;
    }
        
}

@media only screen and (max-width: 600px) {
    .img-about {
        width: 80%;
    }
    .about {
        flex-direction: column;
        margin-bottom: 5rem;
        margin-bottom: 5rem;
        align-items: center;
    }  
}